* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 40px;
    background: #FFFFFF;
    color: #000000;
    font-size: 1em;
}

h2.sub {
    margin: 10px 0px;
}

article {
    margin-top: 20px;
    float: left;
    max-width: 30%;
}

article h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

article p {
    margin: 1px 20px 0px 0px;
}

a {
    color: #3344dd;
}

a:link {
    color: #3344dd;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}
