/*changes the size of images, depending of the window size*/
* {
    margin: 0;
    padding: 0;
}
@mixin my-image-mixin($number) {
    width:  $number;
}

img {
    @include my-image-mixin(24%);
    @media only screen and (max-width: 900px) {
         @include my-image-mixin(32%);
    }
    @media only screen and (max-width: 600px) {
         @include my-image-mixin(49%);
    }
    @media only screen and (max-width: 300px) {
         @include my-image-mixin(100%);
    }
}
